.videolist-container {
  margin-left: 20px;

  .text-container {
    > .title {
      margin-top: 65px;
      font-size: 26px;
      margin-bottom: 20px;
    }

    > .detail {
      color: #4a4a4a;
      font-size: 14px;
      padding: 0 0 20px;
      margin-left: 5px;
    }
  }

  .video-container {
    position: relative;

    > .video-image {
      position: relative;
      width: 100%;
      display: grid;
      grid-template-columns: repeat(3, 1fr);

      .video-thumbnail {
        position: relative;
        margin-bottom: 10px;
        object-fit: cover;
        display: block;
        width: 134px;
        height: 167px;
      }

      > i {
        color: red;
        font-size: 27px;
        position: absolute;
        top: 140px;
        // right: 10px;
        left: 102px;
      }
    }
    // item-set {
    //   position: relative;
    //   background-color: yellow;
    // }

    // img {
    //   display: block;
    //   width: 134px;
    //   height: 167px;

    // margin-bottom: 12px ;

    // i {
    //   z-index: 10000;
    //   display: absolute;
    //   left: 50px;
    //   top: 50px;
    //   color: red;
    //   font-size: 27px;
    // }

    // item-set {
    //   position: relative;

    //   img {
    //     display: block;
    //     object-fit: cover;
    //     // object-position: left px;
    //     margin-left: 5px;
    //     z-index: 0;
    //     width: 134px;
    //     height: 167px;
    //     border-radius: 4px;
    //     display: none;
    //   }

    //   i {
    //     position: absolute;
    //     color: red;
    //     font-size: 27px;
    //   }
    // }
  }
}
