* {
  box-sizing: border-box;
  text-decoration: none;
  padding: 0;
  margin: 0;
}

#sideNav {
  width: 70vw;
  height: 100%;
  position: fixed;
  transition: 0.5s;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: #1a1c25;
  padding-top: 60px;
  .li {
    list-style: none;
  }
  .li {
    &:hover {
      color: red;
    }
  }
}

.header {
  position: absolute;
  width: 100%;
  height: 200%;
  top: 0px;
  left: 0px;

  .container {
    position: fixed;
    width: 100vw;
    height: 50px;
    box-shadow: 0 1px 10px rgba(0, 0, 0, 0.2);
    display: flex;
    align-items: center;
    justify-content: center;

    a {
      margin: 0 40px;
      color: black;
      cursor: pointer;

      .nav-bars {
        font-size: 24px;
        padding-left: 20px;
      }

      .logo {
        font-size: 42px;
        width: 200px;
        padding: 0px 20px;
      }
    }
  }
}
