* {
  box-sizing: border-box;
  text-decoration: none;
  padding: 0;
  margin: 0;
}

.side-nav-overlay {
  position: fixed;
  top: 0;
  right: 0;
  width: 100%;
  height: 100%;
  transition: margin-left 5s;
}

.overlay-active {
  background-color: rgba(0, 0, 0, 0.4);
  z-index: 1060;
}

.side-nav {
  width: 0;
  height: 100%;
  position: fixed;
  transition: 0.5s;
  z-index: 1070;
  top: 0;
  left: 0;
  background-color: #1a1c25;
  padding-top: 60px;

  .close-btn {
    position: absolute;
    top: 15px;
    right: 20px;
    // margin-left: 50px;
    font-size: 38px;
    color: #ddd;
    cursor: pointer;
    transition: 0.3s;
    // &:hover {
    //   color: #f1f1f1;
    // }
  }

  ul {
    width: 200px;
  }

  li {
    font-size: 20px;
    padding: 10px 8px 10px 19px;
    list-style: none;
    display: block;
    // overflow: auto;

    color: #ddd;
    cursor: pointer;
    transition: 0.3s;
    // &:hover {
    //   color: #f1f1f1;
    // }
  }
}

.active {
  width: 70%;
}

.header {
  position: absolute;
  width: 100%;
  height: 200%;
  top: 0px;
  left: 0px;

  .container {
    position: fixed;
    width: 100vw;
    height: 50px;
    box-shadow: 0 1px 10px rgba(0, 0, 0, 0.2);
    display: flex;
    align-items: center;
    justify-content: center;

    a {
      margin: 0 40px;
      color: black;
      cursor: pointer;

      .nav-bars {
        font-size: 24px;
        padding-left: 20px;
      }

      .logo {
        font-size: 42px;
        width: 200px;
        padding: 0px 20px;
      }
    }
  }
}
