* {
  box-sizing: border-box;
  text-decoration: none;
  padding: 0;
  margin: 0;
}

.neck-yoga {
  width: 288px;
  height: 85px;
  background-color: yellowgreen;
}

.clicked {
  width: 288px;
  height: 300px;
}
