$main-item-width-mobile: 288px;
$main-item-width: 600px;

.item-container {
  width: $main-item-width;
  height: 85px;
  margin: 7px auto;
  @media (max-width: 600px) {
    width: $main-item-width-mobile;
  }

  &.clicked {
    height: 300px;
    color: white;
    transition: height 1.1s;
  }

  //TODO: matchMedia 활용해서 objectposition inline스타일로 적용하기
  > img {
    position: absolute;
    object-fit: cover;
    width: $main-item-width;
    height: 85px;
    @media (max-width: 600px) {
      width: $main-item-width-mobile;
      height: 85px;
    }

    &.clicked {
      color: white;
      height: 300px;
      transition: height 1.2s;
      @media (max-width: 600px) {
        height: 300px;
        transition: height 1.2s;
      }
    }
  }

  > .content {
    margin-left: 20px;
    position: relative;
    left: 10px;

    > .title {
      font-size: 30px;
      top: 20px;
      position: relative;
      @media (max-width: 600px) {
        font-size: 20px;
        top: 25px;
      }
    }

    > .desc {
      margin-top: 100px;
      line-height: 1.6;
      margin-bottom: 15px;
      display: block;
      opacity: 1;
      height: 0;
      overflow: hidden;
      &.visible {
        font-size: 15px;
        margin-top: 30px;
        transition: margin-top 0.4s;
        height: 100%;
        color: white;
        @media (max-width: 600px) {
          font-size: 12px;
          top: 25px;
          margin-left: 0px;
          margin-bottom: 13px;
        }
      }
    }
    > a {
      color: white;
      .action-btn {
        visibility: hidden;
        font-size: 17px;
        padding: 5px 10px;
        width: 140px;
        text-align: center;
        cursor: pointer;
        border-radius: 10px;
        border: 0.5px solid #ffffff;
        @media (max-width: 600px) {
          font-size: 14px;
          width: 90px;
        }

        &.visible {
          visibility: visible;

          &:hover {
            margin-top: -2px;
            transition: margin-top 0.4s;
            opacity: 0.8;
          }
        }
      }
    }
  }
}
