.main-container {
  margin-bottom: 15px;
  margin-top: 65px;
  display: flex;
  flex-flow: column;
  justify-content: center;
  align-items: center;

  > .item-container:nth-child(1) {
    img {
      border-radius: 15px 15px 0 0;
    }
  }

  > .item-container:last-child {
    img {
      border-radius: 0px 0px 15px 15px;
    }
  }
}
