@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@500&display=swap");

* {
  font-family: "Noto Sans KR", sans-serif;
  text-decoration: none;
  list-style: none;
  padding: 0px;
  margin: 0px;
  box-sizing: border-box;
}
