:root {
  --primary-color: #764abc;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.App {
  text-align: center;
}

.body-align {
  display: grid;
  grid-template-columns: 1.5fr 1.5fr;
  /* justify-items: center; */
  grid-gap: 1rem;
  align-items: center;
}

.main-title {
  color: var(--primary-color);
  font-size: 4em;
}
